a {
    color: black !important;
    text-decoration: none !important;
}

.btn-primary {
    background-color: black !important;
    color: white !important;
    border-color: black !important;
}

.card-header {
    background-color: white !important;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: black;
    border-color: black;
}

.preview:hover {
    background-color: black !important;
    color: white;
}

.navbar-expand .navbar-nav .nav-link {
    padding: 0px 0px !important;
}

.multiple-select {
    height: 220px !important;
}

.navbar-text {
    color: black !important;
}

.dropdown-item {
    padding: 4px 8px !important;
}