a {
    color: black !important;
    text-decoration: none !important;
}

.btn-primary {
    background-color: black !important;
    color: white !important;
    border-color: black !important;
}

.card-header {
    background-color: white !important;
}