a {
    color: black !important;
    text-decoration: none !important;
}

.btn-primary {
    background-color: black !important;
    color: white !important;
    border-color: black !important;
}

.card-header {
    background-color: white !important;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: black;
    border-color: black;
}

.preview:hover {
    background-color: black !important;
    color: white;
}

.navbar-expand .navbar-nav .nav-link {
    padding: 0px 0px !important;
}

.multiple-select {
    height: 220px !important;
}

.navbar-text {
    color: black !important;
}

.dropdown-item {
    padding: 4px 8px !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: white !important;
    background-color: black !important;
}

#upload {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
#image-event-label {
  position: relative;
}

#image-event-label.dragged-over {
  border: 1px solid;
}